# Dependabot will run on day 9 of each month at 03:36 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "36 3 9 * *"
    open-pull-requests-limit: 15
    assignees:
      - "ticaki"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "36 3 9 * *"
    open-pull-requests-limit: 15
    assignees:
      - "ticaki"
